
<ul class="nav nav-pills menu1">
  <li role="presentation" class="btn1"><a href="/">Home</a></li>
  <li role="presentation" class="btn1"><a href="ah">Ayumi H.</a></li>
  <li role="presentation" class="btn1"><a href="mc">Mad C.</a></li>
  <li role="presentation" class="btn1"><a href="bp">B. Pink</a></li>
  <li role="presentation" class="btn1"><a href="ty">Taeyang</a></li>
</ul>

<hr class="bar1">
