
<% include ../parts/01-top %>

<% include ../parts/03-menu %>

<h1></h1>
<img src="img/00-ss.png" alt="MIssin Logo">

<p class="p1">Starship Entertainment (Hangul: 스타쉽 엔터테인먼트) is a South Korean record label. Formerly home to girl group Sistar, it currently manages artists such as K.Will, Hyolyn, Soyou, Boyfriend,[2] Monsta X and Cosmic Girls.[3][4][5] In November 2013, it became an independent subsidiary label of LOEN Entertainment.</p>


<% include ../parts/02-bottom %>
