
<% include ../parts/01-top %>

<% include ../parts/03-menu %>

<h1>Black Pink</h1>
<img src="img/sing3.jpg" alt="Missing Picture" class="bor1"><br><br>
<iframe class="bor1" width="560" height="315" src="https://www.youtube.com/embed/_paRxWTIyAo?rel=0" frameborder="0" allowfullscreen></iframe>

<% include ../parts/02-bottom %>
